@import '../assets/fonts/red_hat_display/red_hat_display_VF.css';
@import './variables.scss';

:root {
  --primary-color: white;
  --secondary-color: rgb(166, 78, 255);
  --third-color: rgb(56, 149, 255);
  --primary-bg-color: rgb(23, 0, 45);
  --secondary-bg-color: rgb(55, 0, 107);
}

body {
  font-family: 'Red Hat Display';
  position: relative;
  margin: 0;
  color: $primary-color;
}
* {
  box-sizing: border-box;
}
.text-overline-gradient {
    display: inline-block;
    background: linear-gradient(to right, $secondary-color, $third-color);
    padding: 0.1em 1em 0.1em 0.2em;
    margin: 0 0 0.2em -0.2em;
}
