@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../assets/fonts/style.css';

:root {
  --primary-color: #0041c5;
  --secondary-color: #5dffa0;
  --primary-text-color: white;
}

body {
  font-family: 'SF Old Republic';
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb)));
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-size: 3rem;
  color: var(--primary-text-color);
  font-weight: 700;
}

