.logo {
    font-size: 3em;
    color: var(--secondary-color);
    text-decoration: none;
}
.header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}