.section1 {
    background: linear-gradient(to right, var(--primary-color) 67%, var(--secondary-color) 33%);
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section2 {
    background: grey;
    padding: 3rem;
}