$mobile-breakpoint: 640px;
$tablet-breakpoint: 1024px;
$large-screen-breakpoint: 1920px;

// section container max-width
$large-max-width: 1920px;

//colors
$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(166, 78, 255);
$third-color: rgb(56, 149, 255);
$grey-color: rgb(245, 245, 245);

//bg colors
$primary-bg-color: rgb(23, 0, 45);