$mobile-breakpoint: 640px;
$tablet-breakpoint: 1024px;
$large-screen-breakpoint: 1920px;

// section container max-width
$large-max-width: 1920px;

//colors
$secondary-color: rgb(100, 0, 200);
$third-color: rgb(50, 0, 200);