@import '../app/variables.scss';

.logo {
    font-size: 2em;
    line-height: calc(1em + 5px);
    font-weight: 900;
    color: $primary-color;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    &::after{
        content: '';
        position: absolute;
        top: calc(50% - 2.5px);
        left: 0;
        height: 5px;
        width: 130%;
        background: linear-gradient(to right, $secondary-color, $primary-bg-color);
        transition: transform 0.2s ease-in-out;
        transform-origin: left;
        @media (max-width: $mobile-breakpoint) {
            height: 3px;
            top: calc(50% + 2px);
            left: 10px;
            width: 120%;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        font-size: 1.6em;
        line-height: 1em;
        padding: 10px 0 0 10px;
    }
    span {
        display: inline-block;
        transition: transform 0.2s ease-in-out;
    }

    span span {

        &:nth-child(2),
        &:nth-child(4) {
            transform-origin: left;
            transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
            opacity: 1;
        }
    }

    &.contracted {
        &::after{
            transform: scaleX(0.1);
        }
        span span {

            &:nth-child(2),
            &:nth-child(4) {
                transform: scaleX(0);
                opacity: 0;
            }

        }
    }

}

.header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;

    @media (max-width: $mobile-breakpoint) {
        padding: 10px;
    }
}