.logo {
    font-size: 3em;
    color: var(--secondary-color);
    text-decoration: none;

    span {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }

    span {
        &:nth-child(2),
        &:nth-child(4) {
            transform-origin: left;
            transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
            opacity: 1;
        }


    }

    &.contracted {
        span {
            &:nth-child(2) {
                transform: scaleX(0);
                opacity: 0;
            }

            &:nth-child(4) {
                transform: scaleX(0);
                opacity: 0;
            }

        }
    }
}

.header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
}