// define vars
$arrow-height: 30px;
$spacing-offset: 3px;

//timeline ul container
.timeline {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;

    &:hover {
        .element:not(:hover) {
            opacity: 0.2 !important;
        }
    }

    &:focus-within {
        .element:not(:focus) {
            opacity: 0.2 !important;
        }
    }
}

// li element for each timeline element
.element {
    position: relative;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    // title and date container
    .text {
        width: calc(100% - ($spacing-offset * 4));
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: calc(50% + $arrow-height);
        left: $spacing-offset * 2
    }

    // timeline arrow
    .arrow {
        height: $arrow-height;
        width: 100%;
        clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
        position: absolute;
        top: calc(50% - ($arrow-height / 2));
        transition: transform 0.3s ease-in-out;

    }

    // line with 2 dots in each element
    .line {
        width: 2px;
        background-color: var(--secondary-bg-color);
        position: absolute;
        top: 50%;
        left: calc(50% + ($spacing-offset * 2) - 1px);
        height: 20%;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transform-origin: top;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            left: calc(50% - 5px);
            top: -5px;
            border-radius: 50%;
            background-color: var(--secondary-bg-color);
        }

        &::before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            left: calc(50% - 5px);
            bottom: -5px;
            border-radius: 50%;
            background-color: var(--secondary-bg-color);
        }
    }

    // text content appearing when focus and hover
    .content {
        opacity: 0;
        font-size: 1rem;
        font-weight: 400;
        position: absolute;
        top: calc(50% + $arrow-height);
        left: 0;
        z-index: 3;
        margin: 0.5rem;
        padding: 0.5rem;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    // reverse class for odd elements in the list
    &.reverse {
        .content {
            bottom: calc(50% + $arrow-height);
            top: unset;
        }

        .text {
            flex-direction: column-reverse;
            top: calc(50% + $arrow-height);
            bottom: unset;

        }

        .line {
            bottom: 50%;
            top: unset;
            transform-origin: bottom;
        }
    }

    &:nth-child(n+2) {
        margin-left: -1 * $spacing-offset;
    }

    // when focus and hover on the li element
    &:hover,
    &:focus {
        opacity: 1 !important;
        .content {
            opacity: 1;
            animation: slideInBound 0.3s ease-in-out 1 both;
        }

        .arrow {
            transform: scaleY(1.3);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        }

        .line {
            transform: scaleY(0);
            opacity: 0;
        }
    }
}

.time {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-bg-color);
}

.title {
    font-weight: 700;
    font-size: 1.3rem;
}

@keyframes slideInBound {
    0% {
        transform: translateY(-20px);
    }

    25% {
        transform: translateY(10px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}