// define vars
$arrow-height: 30px;
$spacing-offset: 3px;

//timeline ul container
.timeline {
    list-style: none;
    padding-left: 0;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 16px;
        top: 0;
        left: calc(50% - 8px);
        background-image: linear-gradient(0deg, transparent, transparent 50%, var(--primary-bg-color) 50%, var(--primary-bg-color) 100%), linear-gradient(180deg, var(--secondary-color), var(--third-color) 70%, var(--primary-bg-color) 100%);
        background-size: 100% 25px, 100% 100%;
    }
}

// li element for each timeline element
.element {
    width: 100%;
    min-height: 150px;
    padding-right: calc(50% + 30px);
    padding-top: 10px;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    &::before {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: calc(50% - 10px);
        background-color: var(--primary-color);
    }
    .opacityMask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--primary-bg-color);
        top: 0;
        left: 0;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
    }
    cursor: pointer;
    text-align: right;
    
    .content, h3, p {
        margin: 0;
    }
    // reverse class for odd elements in the list
    &.reverse {
            text-align: left;
            padding-right: unset;
            padding-left: calc(50% + 30px);
    }

    &:focus-visible {
        outline: 0
    }
}

.time {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color)
}

.title {
    font-weight: 700;
    font-size: 1.3rem;
}