@import '../app/variables.scss';
$max-width: 640px;
$element-height: 75px;
$button-size: 20%;
$transition-delay: 0.5s;

.question,
.answer {
    padding: 20px 40px;
    //border-radius: 15px;
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 1.3rem;
    width: $max-width / 1.5;
    min-height: $element-height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    overflow-wrap: anywhere;
    white-space: pre-line;

    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 0.75rem solid transparent;
    }
}

.question {
    background: lighten($primary-bg-color, 50%);
    animation: appearQuestion $transition-delay $transition-delay ease-in-out both;
    align-self: flex-start;

    //box-shadow: 8px 0 0 0 $third-color;
    &::before {
        bottom: 100%;
        left: 1.5em;
        border-bottom: 0.75rem solid lighten($primary-bg-color, 50%);
    }
}

.answer {
    align-self: flex-end;
    background-color: $third-color;
    animation: appearAnswer$transition-delay ease-in-out;

    //box-shadow: 8px 0px 0 0 lighten($primary-bg-color, 50%);
    &::before {
        border-top: 0.75rem solid $third-color;
        top: 100%;
        right: 1.5em;
    }
}

.record-container {
    display: flex;
    flex-direction: column;
}

.chat-container {

    width: 100%;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: $max-width;
    margin: 0 auto;
}

.reset {
    align-self: flex-start;
    color: $primary-color;
    font-size: 1rem;
    padding: 10px 0;
    opacity: 0.8;
}

.answer-form {
    width: 100%;
    max-width: $max-width;
    display: block;
    position: relative;
    .info {
        display: none;
        position: absolute;
        bottom: 5px;
        right: calc(20% + 10px);
        color: rgba($primary-color, 0.5);
        font-size: 0.9rem;
    }
    &:focus-within {
        .info {
            display: block;
            animation: fadeIn 0.3s 0.3s ease-in-out both;
        }
    }

    textarea {
        position: relative;
        display: block;
        background: none;
        outline: none;
        border: 1px solid $secondary-color;
        min-height: $element-height;
        width: 100%;
        //border-radius: 37px;
        padding: 20px calc(20% + 10px) 20px 20px;
        resize: none;
        color: $primary-color;
        font-size: 1.3rem;
        font-weight: 400;
        overflow: hidden;
        font-family: 'Red Hat Display';
    }

    button {
        //border-radius: 50%;
        width: $button-size;
        height: 100%;
        display: block;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        padding: 0;
        background-color: $third-color;
        border: none;
        color: $primary-color;
    }

    &.inactive {
        opacity: 0.5;
        filter: grayscale(1);
    }
}

@keyframes appearQuestion {
    0% {
        opacity: 0;
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes appearAnswer {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}