@import '../app/variables.scss';

.skills {
    max-height: 100vh;
    h2 {
        color: $primary-color;
        margin-bottom: 50px;
        text-align: center;
    }
    .container {
        transform: translateY(-100px);
        transition: transform 0.4s ease-out;
        padding: 150px;
        max-width: $large-max-width;
        overflow: hidden;
        margin: 0 auto;
    }
    .skillsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .skillSection {
            text-align: center;
            margin-left: 20px;
            padding: 20px;
            position: relative;
           &:not(:last-child)::after {
                content: '';
                width: 5px;
                height: 120%;
                position: absolute;
                top: calc(0px - 10%);
                right: -5px;
                background: linear-gradient(to bottom, $primary-bg-color, $secondary-color, $primary-bg-color);

            }
            &:nth-child(1) {
                margin-left: 0;
            }
            ul {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;

                li{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;
                    h4 {
                        font-size: 1em;
                        margin-top: 10px;
                        font-weight: 300;
                    }
                }
            }

            svg {
                height: 50px;
            }

            h3 {
                font-size: 1.6rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }
    }
    
    &.active {
        .container {
            transform: translateY(0);
        }
        .skillSection {
           opacity: 1;
            
        }
    }
}

